aclocal.m4
configure
config.h
config.h.in
config.log
config.status
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1

*.o
*.a

.deps/
autom4te.cache/

/pin/obj-*
!/pin/Makefile.in

/test/create0
/test/create1

/tools/usf2trace
/tools/usf2usf
/tools/usfcat
/tools/usfdiff
/tools/usfdump
/tools/usfgentrace
/tools/usfresampler
/tools/usfsort
/tools/usfsplit
/tools/usfstats
